@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Title Section */
.container .title {
    background-color: #000;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .title h1 {
    font-size: 3.5rem;
}

.container .title p {
    font-size: 2rem;
}

.container .title a {
    text-decoration: none;
    color: #fff;
    margin-top: 50px;
    border: 5px solid #fff;
    width: 100%;
    max-width: 200px;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 700;
}

.container .title a:hover {
    background: #fff;
    color: #000;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    max-height: 1000px;
    padding: 2rem;
}
.hero-section .image {
    width: 65%;
    margin: 2rem 4rem;
    border-radius: 25px;
}
.hero-section .image img{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border: none;
}
.hero-section .quote{
    width: 35%;
    margin: 2rem 3rem 2rem 1rem;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-align: center;
}
.hero-section .quote p{
    margin-bottom: 2rem;
    font-size: 2rem;
}

/* About Section */
.about {
    background-color: #000;
    color: #fff;
    border-bottom: 15px solid #fff;
    padding: 5rem 0;
}
.about .about-title {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
}
.about .info {
    margin: 5rem 15rem;
}
.about .info h5{
    font-size: 2.4rem;
    margin: 5rem 0 1rem 0;
}
.about .info p{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}
.about .source{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .source p{
    font-size: 1.5rem;
    font-weight: 500;
}
.about .source a{
    margin: 1rem;
    text-decoration: none;
    border: 5px solid #fff;
    color: #fff;
    max-width: 200px;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
}
.about .source a:hover {
    background: #fff;
    color: #000;
}

/* Last Section */
.timeline {
    background-color: #000;
    color: #fff;
    width: 100%;
    max-height: 700px;
    height: 100%;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timeline h3 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.05rem;
    margin-bottom: 2rem;
}
.timeline ul{
    list-style-type: none;
    font-size: 1.6rem;
    margin-left: 5rem;
}
.timeline ul li{
    margin: 1.7rem;
    letter-spacing: 0.10rem;
}

/* Responsiveness */
@media (max-width: 1200px) {
    .hero-section .quote{
        width: 35%;
        margin: 5rem 0;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.3px;
        text-align: center;
    }
    .hero-section .quote p{
        font-size: 1rem;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .container .title h1{
        font-size: 2.5rem;
    }
    
    .container .title p{
        font-size: 1.3rem;
    }
    
    .container .title a {
        margin-top: 50px;
        max-width: 100px;
        padding: 10px 2px;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .about {
        border-bottom: 5px solid #fff;
    }
    .about .about-title {
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0.05rem;
        margin-bottom: 2rem;
    }
    .about .info {
        margin: 5rem 10rem;
    }
    .about .info h5{
        font-size: 1.4rem;
    }
    .about .info p{
        font-size: 0.9rem;
    }
    .about .source p{
        font-size: 1rem;
    }
    .about .source a{
        max-width: 150px;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .about .source a:hover {
        background: #fff;
        color: #000;
    }
    .timeline {
        padding: 15rem 0;
    }
    .timeline h3 {
        font-size: 2rem;
        margin: 2rem 0;
    }
    .timeline ul{
        font-size: 1.3rem;
    }
    .timeline ul li{
        margin: 1.4rem;
    }
}
@media (min-width: 768px) and (max-width: 899px) {
    .container .title h1{
        font-size: 2.5rem;
    }
    
    .container .title p{
        font-size: 1.3rem;
    }
    
    .container .title a {
        margin-top: 50px;
        max-width: 100px;
        padding: 10px 2px;
        border-radius: 10px;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .about {
        border-bottom: 5px solid #fff;
    }
    .about .about-title {
        font-size: 2rem;
        text-align: center;
        letter-spacing: 0.05rem;
        margin-bottom: 2rem;
    }
    .about .info {
        margin: 5rem 10rem;
    }
    .about .info h5{
        font-size: 1.4rem;
    }
    .about .info p{
        font-size: 0.9rem;
    }
    .about .source p{
        font-size: 1rem;
    }
    .about .source a{
        max-width: 150px;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .about .source a:hover {
        background: #fff;
        color: #000;
    }
    .timeline {
        padding: 15rem 0;
    }
    .timeline h3 {
        font-size: 2rem;
        margin: 2rem 0;
    }
    .timeline ul{
        font-size: 1rem;
    }
    .timeline ul li{
        margin: 1.4rem;
    }
    .hero-section {
        display: block;
    }
    .hero-section .image{
        margin-left: 130px;
    }
    .hero-section .quote{
        margin-left: 120px;
        width: 70%;
    }
}
@media (min-width: 500px) and (max-width: 767px) {
    .container .title {
        height: 300px;
    }
    .container .title h1{
        font-size: 2.0rem;
    }
    
    .container .title p{
        font-size: 1rem;
    }
    
    .container .title a {
        margin-top: 20px;
        max-width: 100px;
        padding: 10px 2px;
        border-radius: 10px;
        font-size: 0.5rem;
        font-weight: 500;
        border: 2px solid #fff;
    }
    .about {
        border-bottom: 3px solid #fff;
    }
    .about .about-title {
        margin-top: 1rem;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: 0.05rem;
    }
    .about .info {
        margin: 2rem 5rem;
    }
    .about .info h5{
        font-size: 1.2rem;
    }
    .about .info p{
        font-size: 0.7rem;
    }
    .about .source p{
        font-size: 0.8rem;
    }
    .about .source a{
        max-width: 100px;
        padding: 0.2rem;
        border: 2px solid #fff;
        font-size: 0.6rem;
    }
    .timeline {
        padding: 0.7rem 0;
    }
    .timeline h3 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .timeline ul{
        font-size: 0.8rem;
    }
    .timeline ul li{
        margin: 0.6rem;
    }
    .hero-section {
        display: block;
        margin-bottom: 0;
    }
    .hero-section .image{
        margin-left: 80px;
    }
    .hero-section .quote{
        margin-left: 20px;
        width: 90%;
        font-size: 0.8rem;
        margin-top: 0;
    }
}
@media (min-width: 300px) and (max-width: 500px) {
    .container .title {
        height: 200px;
    }
    .container .title h1{
        font-size: 1.5rem;
    }
    
    .container .title p{
        font-size: 0.7rem;
    }
    
    .container .title a {
        margin-top: 20px;
        max-width: 50px;
        padding: 7px 2px;
        font-size: 0.3rem;
        font-weight: 500;
        border: 1px solid #fff;
    }
    .about {
        border-bottom: 2px solid #fff;
    }
    .about .about-title {
        margin-top: 0;
        font-size: 1.2rem;
    }
    .about .info {
        margin: 0 3rem;
    }
    .about .info h5{
        font-size: 1.2rem;
        margin-top: 0;
    }
    .about .info p{
        font-size: 0.5rem;
        margin-bottom: 1rem;
    }
    .about .source p{
        font-size: 0.5rem;
    }
    .about .source a{
        max-width: 70px;
        padding: 0.2rem;
        border: 2px solid #fff;
        font-size: 0.4rem;
    }
    .timeline {
        padding: 0.7rem 0;
    }
    .timeline h3 {
        font-size: 1.2rem;
        margin: 1rem 0;
    }
    .timeline ul{
        font-size: 0.5rem;
        margin-left: 2rem;
    }
    .timeline ul li{
        margin: 0.2rem;
    }
    .hero-section {
        display: block;
        margin-bottom: 0;
    }
    .hero-section .image{
        margin-left: 55px;
    }
    .hero-section .quote{
        margin-left: 7px;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 0;
    }
    .hero-section .quote p{
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }
}